.project-info {
    margin-bottom: 30px;
}

.releases-panel a {
    min-width: 50%;
}

.releases-panel, .users-panel {
    margin-bottom: 10px;
    margin-top: 25px;
}

.searchedString{
    max-width: 30%;
}

.search-by-name{
    max-width: 20%;
}

.search-by-role{
    max-width: 25%;
}

.modal .modal-dialog {
    width: 30%;
}