body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*Margins*/

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

/*Header bar begin*/

.topbar {
    padding: 8px 0px;
    background: #2a2a2a;
}

.topbar ul.left-topbar {
    padding-left: 15px;
}

.topbar ul.left-topbar > li {
    display: inline;
    list-style: none;
    position: relative;
    margin-right: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.right-topbar {
    margin-left: 0;
    padding-right: 15px;
}

.topbar ul.right-topbar div li {
    display: inline;
    list-style: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

/*Header bar end*/

/*Menu begin*/

.top-main-menu .navbar-brand {
    padding: 10px 40px 60px 15px;
}

.top-main-menu .navbar-default {
    border: none;
    background: none;
}

.top-main-menu .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

}

/*Navbar Menu*/

.top-main-menu .navbar-nav > li > a {
    color: #784A3B;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

.top-main-menu .navbar-nav > .active > a,
.top-main-menu .navbar-nav > .active > a:hover,
.top-main-menu .navbar-nav > .active > a:focus {
    color: #4765a0;
    background: none;
    border-top-color: #784A3B;
}

.top-main-menu .navbar-nav > li > a:focus {
    background: none;
}

.top-main-menu .navbar-nav > li > a:hover {
    background: none;
    color: #4765a0;
}

/*Menu end*/

.footer {
    background-color: #272727;
    padding: 20px 0;
    margin-top: 40px;
    color: #eee;
}

.abtn-u-white {
    text-decoration: none;
    background-color: #784A3B;
    border: 0;
    color: #fff;
    padding: 6px 13px;
}

.abtn-u-white:hover, .abtn-u-white:focus {
    text-decoration: none;
    background-color: #784A3B;
    color: #fff;
}

.btn-u {
    background: #784A3B;
    border: 0;
    color: #fff;
    padding: 6px 13px;
}

a.btn-u:hover, a.btn-u:focus {
    background: #784A3B;
}

i.icon-bg-u {
    background: #784A3B;
    color: white;
}

i.icon-table-u {
    color: #784A3B;
}

i.icon-md {
    width: 55px;
    height: 55px;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    display: inline-block;
    border: solid 1px #555;
}

.rounded-x {
    border-radius: 50%;
}

/*Breadcrumb*/

.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../images/breadcrumbs.png) repeat;
}

.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}

.breadcrumb {
    top: 10px;
    z-index: 1;
    padding-right: 0;
    background: none;
    position: relative;
}

.breadcrumb a {
    color: #777;
}

.breadcrumb li.active,
.breadcrumb li a:hover {
    color: #784A3B;
    text-decoration: none;
}

/*actionButtons*/

div .actionButtons a {
    padding: 5px 10px;
}

.form-control:focus {
    border-color: #784A3B;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(120, 74, 59, 0.6);
}

a.viewLink {
    color: #784A3B;
    text-decoration: none;
}

a.viewLink:hover,
a.viewLink:focus {
    color: #784A3B;
    background: none;
}